@model List<GB.Data.Dto.OrderDto>
@{
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>
<h2>My Orders</h2>

<br />
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>CreatedAt</th>
            <th>ExpiresAt</th>
            <th>Days left</th>
            <th>Penalty</th>
            <th>Total Price</th>
            <th>Total Price with Penalty</th>
            <th>Is Returned</th>

        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.ID</td>
                <td>@order.User.FullName</td>
                <td>@order.CreatedAt</td>
                <td>@order.ExpiresAt</td>
                <td>
                    @if (order.ExpiresAt >= DateTime.Now)
                    {
                        <span>@order.ExpiresAt.Subtract(order.CreatedAt).Days days</span>
                    }
                    else
                    {
                        <span>EXPIRED</span>
                    }
                </td>
                <td>
                    @if (order.ExpiresAt >= DateTime.Now)
                    {
                        <span>@order.ExpiresAt.Subtract(order.CreatedAt).Days * 0.30</span>
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
                <td>@order.TotalPrice</td>
                <td>@order.TotalPrice+@order.ExpiresAt.Subtract(order.CreatedAt).Days * 0.30</td>
                <td>
                    @if (order.IsFinishedAt != null)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
            </tr>
        }
    </thead>
</table>

