@model List<GB.Data.Dto.AddToCartDto>
@{
    ViewBag.Title = "Cart";
}


<div class="col-md-1"></div>
<div class="col-md-10 user-cart">
    <h2 class="title">Cart</h2>
    @if (Model != null)
    {
        <table class="table table-hover table-responsive table-borderless">
            <thead>
                <tr>
                    <th>Game Name</th>
                    <th>Location </th>
                    <th>Price</th>
                    <th></th>
                </tr>
                @foreach (var cartItem in Model)
                {
                    <tr>
                        <td>@cartItem.GameName</td>
                        <td>@cartItem.LocationName</td>
                        <td>@cartItem.Price</td>
                        <td>
                            <button class="btn btn-primary cancel" data-slno="@cartItem.GameID" onclick="location.href='@Url.Action("Remove","Cart", cartItem)'">
                                Remove from Cart
                            </button>
                        </td>
                    </tr>
                }
            </thead>
        </table>
        <button class="btn btn-primary add">@Html.ActionLink("Checkout order", "Checkout", "Order")</button>
    }
    else
    {
        <h2>There are no items in Your cart yet. Go add them!</h2>
    }
</div>
<div class="col-md-1"></div>
    
