<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Games", "Index", "Game")</li>
                    @if (HttpContext.Current.User.IsInRole("Client"))
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                        <li>@Html.ActionLink("My Orders", "ViewUserOrders", "Order")</li>
                        <li> <a href="@Url.Action("UserCart", "Cart")"> <span class="glyphicon glyphicon-shopping-cart" style="color:antiquewhite"></span>Cart <span class="badge">@Session["count"]</span></a></li>
                    }
                    else if (HttpContext.Current.User.Identity.IsAuthenticated == false)
                    {
                        <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                    }
                    else if (HttpContext.Current.User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Orders with Penalties", "GetOrdersWithPenalties", "A_Order")</li>
                        <li>@Html.ActionLink("Orders", "GetOrders", "A_Order")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                    }

                    </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
