@using GB.Data.Dto
@model List<GameDto>
@{
    ViewBag.Title = "All Games";
}

<div class="content">
    <div class="row">
        <h2 class="title">@Model.Count items found.</h2>
    </div>
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-4" id="games-item">
                <div class="row">
                    <div class="col-12">
                        @if (game.Image != null)
                        {<img src="data:image;base64,@System.Convert.ToBase64String(game.Image)" width="200" height="200" />}
                    </div><br />
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4 class="game-name"><a href="@Url.Action("ViewGame", "Game", new { gameID = game.ID })">@game.Name</a></h4>
                        <h5>@game.Production.Name, @game.GamePlatform.Name</h5>
                        <h5>
                            @foreach (var gameGenre in game.GameGenres)
                            {
                                if (gameGenre.ID != game.GameGenres.Last().ID)
                                {
                                    <span>@gameGenre.GenreName, </span>
                                }
                                else
                                {
                                    <span>@gameGenre.GenreName</span>
                                }
                            }
                        </h5><br />
                        <span class="game-price">@game.Price zł</span>
                    </div>
                </div>
            </div>

            if (HttpContext.Current.User.IsInRole("Administrator"))
            {

            }
        }
    </div>
</div>

